---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Page from "@/app/dashboard/page";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-1 flex-col gap-4 p-4 pt-0">
		<div class="grid auto-rows-min gap-4 md:grid-cols-3">
			<div class="bg-muted/50 aspect-video rounded-xl"></div>
			<div class="bg-muted/50 aspect-video rounded-xl"></div>
			<div class="bg-muted/50 aspect-video rounded-xl"></div>
		</div>
		<div class="bg-muted/50 min-h-[100vh] flex-1 rounded-xl md:min-h-min">
		</div>
	</div>
</Layout>
